<html>
<body>

<head>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></scrip>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<h1 style="text-align: center;"><u>Google Calender</u></h1>
<br>

<p style="text-align:-webkit-left;font-size: 25px;">
This is an app to retrive all the events from your google calender.If you had not add  any event please add some event to your calender and then see the result 
</p><br>
<hr>

<h2 style="text-align: center;">Here is the link to add events</h2><br>

<div align="center">
<a href="https://www.google.com/calendar" style="
    font-size: 25px;"><u>Sign in Google Calender</u>
    </a>
</div>
<br>
<br>
<div align="right">
<a href="http://localhost:3000/show" style="font-size: 20px;padding-right:20px;">Result</a>
</div>
</body>
</html>


